<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>

<section>

<div class="card mr-3 ml-3">

<div class="card-body">

<div class="container text-center">

     
    <img style="height: 200px; width:200px"class="myprofilepicture"  src=""  th:src="@{'/image/'+${contact.image}}"/>
  
<table class="table">
    <tbody>
        <tr>
            <td>ID:</td>
            <td th:text="${'SCM2024' + contact.cId}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><span th:text="${contact.name}"></span></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><span th:text="${contact.email}"></span></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td th:text="${contact.phone}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td th:text="${contact.description}"></td>
        </tr>
        <tr>
            <td>Work:</td>
            <td th:text="${contact.work}"></td>
        </tr>
    </tbody>
</table>

</div>

<div class="container text-center">
  
      <a th:onclick="|deleteContact(${contact.cId})|"class="btn btn-danger btn-sm">Delete
      </a>
      <form method="post" th:action="@{'/user/updatecontact/'+${contact .cId}}" class="ml-0 d-inline">
            <button type="submit" class="btn btn-primary btn-sm">Update</button>
        </form>

</div>
</div>


</div>



</section>
</body>
</html>