<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})" >
<head>
<meta charset="ISO-8859-1">
<title>user dashboard</title>
</head>
<body>
<section>
<div class="container">
<div class="card">
<div class="card-body">

 <div class="container text-center">
         <img style="height: 200px; width:200px"class="myprofilepicture"  src=""  th:src="@{'/image/contact.png'}"/>
  
       
       </div>
<h1 class="text-center mt-3 text-secondary font-italic">
Start Adding your contacts</h1>

<a th:href="@{/user/addcontact}"class="btn btn-primary btn-block text-uppercase mt-3">Add New Contact</a>
</div></div></div>
</section>
</body>
</html>