@charset "ISO-8859-1";
body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .container {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            padding-top: 50px;
        }
        .error-message {
            color: red;
        }
        .myprofilepicture{
	width:30px;
	height:30px;
}