<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
<h1>This Is Home Page</h1>
<section class="banner d-flex justify-content-center align-items-center">

<div class="text-center">
<h1 class="font-weight-bold">Smart Contact Manager</h1>
<p>

The Smart Contact Manager website is a user-friendly platform 
designed to simplify the management of contacts and interactions.
 
</p>
<button class="btn bg-primary btn-lg text-white">Get Started</button>
</div>
</section>
</body>
</html>